@import "../../helpers/index.scss";


.link{
    text-decoration: none;
    color: map-get($text-color, secondary); 
    
        &-xs{
            font-size: map-get($font-size, body2); 
            line-height: map-get($line-height, body2 );
            font-weight: map-get($font-weight, normal );
        }
        &-sm{
            font-size: map-get($font-size, body1); // 14px
            line-height: map-get($line-height, body1);
            font-weight: map-get($font-weight, normal );
        }
        &-md{
            font-size: map-get($font-size, subtitle2); // 16px
            line-height: map-get($line-height, subtitle2);
            font-weight: map-get($font-weight, normal );
        }
        &-xl{
            font-size: map-get($font-size, h6); // 20px
            line-height: map-get($line-height , h6 );
            font-weight: map-get($font-weight, normal );
        }
  
   &-white{
       color: map-get($text-color, white );
   }
   &-bold{
       font-weight: map-get($font-weight, bold ) ;
   }
   &-normal{
    font-weight: map-get($font-weight, normal ) ;
   }
  
   &-yellow-hover:hover{
       color: map-get($text-color, warning );
      
   }
   &-black-hover:hover{
       color: map-get($text-color, black );
   }
   &-white-hover:hover{
    color: map-get($text-color, white );
   }
  
   &-underline{
       text-decoration: underline;
       &-hower:hover{
        text-decoration: underline;
       }
   }
   &-gray-visited:visited{
     color: var(--color-gray-lighten1);
   }
}
