@import "../../helpers/index.scss";
.btn {
	border-style: $border-style-solid;
	font-family: $ff-default;
	cursor: pointer;
	box-sizing: border-box;
	display: block;
	&-primary {
		background-color: var(--color-secondary-default);
		color: var(--color-white-default);
		border: none;
		border-radius: map-get($border-radius, br-2);

		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-white {
		background-color: var(--color-white-default);
		color: var(--color-secondary-default);
		border: none;
		border-radius: map-get($border-radius, br-2);
		&:hover {
			background-color: var(--color-secondary-lighten3);
		}
		&:active {
			background: var(--color-secondary-lighten3);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-outlined {
		background-color: var(--color-transparent);
		color: var(--color-white-default);
		border-color: map-get($border-color, white);
		border-width: map-get($border-width, bw-1); //1px
		border-radius: map-get($border-radius, br-2); //2px
		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-info {
		background-color: var(--color-transparent);
		color: var(--color-white-default);
		border: none;
		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-image {
		background-color: var(--color-transparent);
		color: var(--color-white-default);
		border: none;
		padding: map-get($spacers, paired-sm);
		line-height: map-get($line-height, none);
		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-clicker {
		background-color: var(--color-white-default);
		color: var(--color-secondary-default);
		border-width: map-get($border-width, bw-1); //1px
		border-color: map-get($border-color, secondary);
		border-radius: map-get($border-radius, br-2); //2px
		&:hover {
			background-color: var(--color-secondary-lighten3);
		}
		&:active {
			background: var(--color-secondary-lighten3);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-carousel {
		background-color: var(--color-white-default);
		border-radius: map-get($border-radius, br-circle);
		padding: map-get($spacers, xs);
		line-height: map-get($line-height, caption);
		font-size: map-get($font-size, subtitle2);
	}
	&-xxl {
		padding: map-get($spacers, sm) map-get($spacers, md);
		line-height: map-get($line-height, h1);
		font-size: map-get($font-size, h6);
		font-weight: map-get($font-weight, medium);
	}
	&-xl {
		padding-top: map-get($spacers, paired-xs);
		padding-bottom: map-get($spacers, paired-xs);
		padding-right: map-get($spacers, md);
		padding-left: map-get($spacers, md);
		line-height: map-get($line-height, h1);
		font-size: map-get($font-size, h6);
		font-weight: map-get($font-weight, normal);
	}
	&-lg {
		padding: map-get($spacers, sm) map-get($spacers, md);
		line-height: map-get($line-height, h2);
		font-size: map-get($font-size, h6);
		font-weight: map-get($font-weight, light);
	}
	&-md {
		padding: map-get($spacers, sm) map-get($spacers, sm);
		line-height: map-get($line-height, h6);
		font-size: map-get($font-size, h6);
		font-weight: map-get($font-weight, medium);
	}
	&-sm {
		padding: map-get($spacers, sm) map-get($spacers, sm);
		line-height: map-get($line-height, subtitle1);
		font-size: map-get($font-size, body1);
		font-weight: map-get($font-weight, medium);
	}
	&-xs {
		padding: map-get($spacers, sm) map-get($spacers, sm);
		line-height: map-get($line-height, subtitle1);
		font-size: map-get($font-size, body1);
		font-weight: map-get($font-weight, medium);
	}
	&-xxs {
		padding: map-get($spacers, sm);
		line-height: map-get($line-height, h2);
		font-size: map-get($font-size, subtitle2);
		font-weight: map-get($font-weight, light);
	}
	&-circle {
		border-radius: map-get($border-radius, br-circle);
		border: none;
	}
	&-square {
		border-radius: map-get($border-radius, br-none); //0px
	}
	&-rounded-noborder-md {
		border: none;
		border-radius: map-get($border-radius, br-2); //2px
	}
	&-rounded-noborder-lg {
		border: none;
		border-radius: map-get($border-radius, br-3); //3px
	}
	&-rounded-bordered-md {
		border-width: map-get($border-width, bw-1); //1px
		border-radius: map-get($border-radius, br-2); //2px
	}
	&-rounded-bordered-lg {
		border-width: map-get($border-width, bw-1); //1px
		border-radius: map-get($border-radius, br-3); //3px
	}
}
