.btn {
	border-style: $border-style-solid;
	font-family: $ff-default;
	cursor: pointer;
	box-sizing: border-box;
	display: block;
	&-primary {
		background-color: var(--color-secondary-default);
		color: var(--color-white-default);
		border: none;
		border-radius: map-get($border-radius, br-2);

		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-white {
		background-color: var(--color-white-default);
		color: var(--color-secondary-default);
		border: none;
		border-radius: map-get($border-radius, br-2);
		&:hover {
			background-color: var(--color-secondary-lighten3);
		}
		&:active {
			background: var(--color-secondary-lighten3);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-outlined {
		background-color: var(--color-transparent);
		color: var(--color-white-default);
		border-color: map-get($border-color, white);
		border-width: map-get($border-width, bw-1); //1px
		border-radius: map-get($border-radius, br-2); //2px
		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-info {
		background-color: var(--color-transparent);
		color: var(--color-white-default);
		border: none;
		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-image {
		background-color: var(--color-transparent);
		color: var(--color-white-default);
		border: none;
		padding: map-get($button-padding, btn-padding-lg);
		line-height: map-get($button-line-heights, btn-lh-none);
		&:hover {
			background-color: var(--color-secondary-darken2);
		}
		&:active {
			background: var(--color-secondary-darken2);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-clicker {
		background-color: var(--color-white-default);
		color: var(--color-secondary-default);
		border-width: map-get($border-width, bw-1); //1px
		border-color: map-get($border-color, secondary);
		border-radius: map-get($border-radius, br-2); //2px
		&:hover {
			background-color: var(--color-secondary-lighten3);
		}
		&:active {
			background: var(--color-secondary-lighten3);
		}
		&:focus {
			box-shadow: 0 0 0 3px var(--color-secondary-shadow);
		}
	}
	&-carousel {
		background-color: var(--color-white-default);
		border-radius: map-get($border-radius, br-circle);
		padding: map-get($button-padding, btn-padding-xs);
		line-height: map-get($button-line-heights, btn-lh-xxs);
		font-size: map-get($button-font-size, btn-fs-md);
	}
	&-xxl {
		padding: map-get($button-padding, btn-padding-md)
			map-get($button-padding, btn-padding-xl);
		line-height: map-get($button-line-heights, btn-lh-lg);
		font-size: map-get($button-font-size, btn-fs-lg);
		font-weight: map-get($buttons-font-weight, btn-fw-lg);
	}
	&-xl {
		padding-top: map-get($button-padding, btn-padding-sm);
		padding-bottom: map-get($button-padding, btn-padding-sm);
		padding-right: map-get($button-padding, btn-padding-xl);
		padding-left: map-get($button-padding, btn-padding-xl);
		line-height: map-get($button-line-heights, btn-lh-lg);
		font-size: map-get($button-font-size, btn-fs-lg);
		font-weight: map-get($buttons-font-weight, btn-fw-md);
	}
	&-lg {
		padding: map-get($button-padding, btn-padding-md)
			map-get($button-padding, btn-padding-xl);
		line-height: map-get($button-line-heights, btn-lh-md);
		font-size: map-get($button-font-size, btn-fs-lg);
		font-weight: map-get($buttons-font-weight, btn-fw-sm);
	}
	&-md {
		padding: map-get($button-padding, btn-padding-md)
			map-get($button-padding, btn-padding-xl);
		line-height: map-get($button-line-heights, btn-lh-xs);
		font-size: map-get($button-font-size, btn-fs-lg);
		font-weight: map-get($buttons-font-weight, btn-fw-lg);
	}
	&-sm {
		padding: map-get($button-padding, btn-padding-md)
			map-get($button-padding, btn-padding-xl);
		line-height: map-get($button-line-heights, btn-lh-xs);
		font-size: map-get($button-font-size, btn-fs-sm);
		font-weight: map-get($buttons-font-weight, btn-fw-lg);
	}
	&-xs {
		padding: map-get($button-padding, btn-padding-md)
			map-get($button-padding, btn-padding-xl);
		line-height: map-get($button-line-heights, btn-lh-xs);
		font-size: map-get($button-font-size, btn-fs-sm);
		font-weight: map-get($buttons-font-weight, btn-fw-lg);
	}
	&-xxs {
		padding: map-get($button-padding, btn-padding-md);
		line-height: map-get($button-line-heights, btn-lh-md);
		font-size: map-get($button-font-size, btn-fs-md);
		font-weight: map-get($buttons-font-weight, btn-fw-sm);
	}
	&-circle {
		border-radius: map-get($border-radius, br-circle);
		border: none;
	}
	&-square {
		border-radius: map-get($border-radius, br-none); //0px
	}
	&-rounded-noborder-md {
		border: none;
		border-radius: map-get($border-radius, br-2); //2px
	}
	&-rounded-noborder-lg {
		border: none;
		border-radius: map-get($border-radius, br-3); //3px
	}
	&-rounded-bordered-md {
		border-width: map-get($border-width, bw-1); //1px
		border-radius: map-get($border-radius, br-2); //2px
	}
	&-rounded-bordered-lg {
		border-width: map-get($border-width, bw-1); //1px
		border-radius: map-get($border-radius, br-3); //3px
	}
}
