$spacers: (
  none: 0px,
  xxs: 2px,
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 32px,
  xl: 64px,
  xxl: 128px,
  paired-xs: 6px,
  paired-sm: 12px,
  paired-md: 24px,
  paired-lg: 48px,
  paired-xl: 96px,
);
