:root {
  // transparent

  --color-transparent-default: rgba(0, 0, 0, 0);

  --color-primary-default: rgba(0, 53, 128, 1);
  /* #003580 */
  --color-primary-darken1: rgba(0, 34, 79, 1);
  /* #00224f */

  /* Secondary */
  --color-secondary-lighten3: rgba(235, 243, 255, 1);
  /* #ebf3ff */
  --color-secondary-lighten2: rgba(163, 215, 252, 1);
  /* #a3d7fc */

  /* Secondary */
  --color-secondary-lighten1: rgba(91, 186, 255, 1);
  /* #5bbaff */
  --color-secondary-default: rgba(0, 113, 194, 1);
  /* #0071c2 */
  --color-secondary-darken1: rgba(0, 89, 153, 1);
  /* background header */
  --color-secondary-darken2: rgba(31, 78, 143, 1);

  /* secondary-transition */
  --color-secondary-t1-default: rgba(0, 113, 194, 0.06);
  --color-secondary-t2-default: rgba(0, 113, 194, 0.2);

  /* Success */
  /*Write one extra success*/
  --color-success-lighten1: rgba(231, 253, 233, 1);
  /* e7fde9 */
  --color-success-default: rgba(46, 146, 55, 1);
  /* e7fde9 */
  --color-success-darken1: rgba(0, 128, 9, 1);
  /* #008009 */
  --color-success-darken2: rgba(0, 102, 7, 1);

  /* Danger */
  --color-danger-lighten2: rgba(255, 240, 224, 1);
  /* #fff0e0 */
  --color-danger-lighten1: rgba(255, 235, 234, 1);
  /* #ffebea */
  --color-danger-default: rgba(204, 2, 2, 1);
  /* #cc0202 */
  --color-danger-darken1: rgba(163, 0, 0, 1);
  /* #a30000 */

  /* Brown */
  --color-brown-lighten2: rgba(225, 224, 138, 1);
  /* #ffe08a */
  --color-brown-lighten1: rgba(205, 137, 0, 1);
  /* #ffe08a */
  --color-brown-default: rgba(188, 91, 1, 1);
  /* #bc5b01 */
  --color-brown-darken1: rgba(146, 62, 1, 1);

  /* Warning */
  --color-warning-default: rgba(254, 187, 2, 1);
  /* #febb02 */
  --color-warning-lighten1: rgba(255, 128, 0, 1);
  /* #ff8000 */

  /* Gray */

  --color-gray-darken1: rgba(38, 38, 38, 1);
  /* #262626 */
  --color-gray-default: rgba(51, 51, 51, 1);
  /* #333333 */
  --color-gray-lighten1: rgba(51, 51, 51, 0.75);
  /* #6b6b6b */
  --color-gray-lighten2: rgba(115, 115, 115, 1);
  /* #737373 */
  --color-gray-lighten3: rgba(131, 131, 131, 1);
  /* #838383 */
  --color-gray-lighten4: rgba(165, 165, 165, 1);
  /* #a5a5a5 */
  --color-gray-lighten5: rgba(179, 179, 179, 1);
  /* #b3b3b3 */
  --color-gray-lighten6: rgba(189, 189, 189, 1);
  /* #bdbdbd */
  --color-gray-lighten7: rgba(217, 217, 217, 1);
  /* #d9d9d9 */
  --color-gray-lighten8: rgba(231, 231, 231, 1);
  /* #e7e7e7 */

  /* White */
  --color-white-default: rgba(255, 255, 255, 1);
  --color-white-t1-default: rgba(255, 255, 255, 0.06);
  /* car rentals flights... */
  --color-white-t2-default: rgba(255, 255, 255, 0.12);
  /* uah language ? list your property */
  --color-white-t3-default: rgba(255, 255, 255, 0.2);
  /* list your property footer */

  /*Black */
  --color-black-default: rgba(0, 0, 0, 1);
  --color-black-t1-default: rgba(0, 0, 0, 0.06);

  /* Color for shadows*/
  --color-black-shadow-0: rgb(0, 0, 0);
  --color-black-shadow-1: rgba(0, 0, 0, 0.1);
  --color-black-shadow-2: rgba(0, 0, 0, 0.12);
  --color-black-shadow-3: rgba(0, 0, 0, 0.15);
  --color-black-shadow-4: rgba(0, 0, 0, 0.2);
  --color-secondary-shadow: rgba(0, 113, 194, 0.24);
}
