/*--------------------------------------------------CONFIG----------------------------------------------------*/
/*------------------------------------------------border-color---------------------------------------*/
/*------------------------------------------------border-position---------------------------------------*/
/*------------------------------------------------border-radius---------------------------------------*/
/*------------------------------------------------border-style---------------------------------------*/
/*------------------------------------------------border-width---------------------------------------*/
/*------------------------------------------------colors---------------------------------------*/
@import "../helpers/index.scss";
@import "../config/index.scss";

/*-----------------------------------------COMPONENTS-------------------------------------------*/
/*---------------------------------------------accordion------------------------------------------*/
summary {
	display: block;
}

::-webkit-details-marker {
	display: none;
}

summary {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.btn-accordion {
	background-color: var(--color-transparent);
	color: var(--color-gray-darken1);
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	cursor: pointer;
	border-top: 1px solid var(--color-gray-lighten7);
	border-left: 1px solid var(--color-gray-lighten7);
	border-right: 1px solid var(--color-gray-lighten7);
	padding: 16px;
}

.btn-accordion:hover {
	background-color: var(--color-gray-lighten8);
}

.accordion-border-top {
	border-top: 1px solid var(--color-gray-lighten7);
}

.accordion-border-left {
	border-left: 1px solid var(--color-gray-lighten7);
}

.accordion-border-right {
	border-right: 1px solid var(--color-gray-lighten7);
}

.accordion-border-bottom {
	border-bottom: 1px solid var(--color-gray-lighten7);
}

/*---------------------------------------------badges------------------------------------------*/
.badge-review-sm {
	width: 22px;
	height: 22px;
	border-radius: 5px 5px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: baseline;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.badge-review-md {
	width: 28px;
	height: 28px;
	border-radius: 5px 5px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: baseline;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.badge-review-lg {
	width: 34px;
	height: 34px;
	border-radius: 5px 5px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: baseline;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.badge-review-filled {
	background-color: var(--color-secondary-darken2);
	color: var(--color-white-default);
}

.badge-review-filled-primary {
	background-color: var(--color-primary-default);
	color: var(--color-white-default);
}

.badge-review-outline {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid var(--color-black-default);
	color: var(--color-black-default);
}

.hotel-type-badge {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: -3px;
	border-radius: 4px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	padding: 2px 4px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: baseline;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.hotel-type-badge-success {
	background: var(--color-success-darken);
	color: var(--color-white-default);
	border: 3px var(--color-transparent-default);
}

.hotel-type-badge-primary {
	background: var(--color-primary-default);
	color: var(--color-white-default);
	border: 3px var(--color-transparent-default);
}

.hotel-type-badge-secondary {
	background: var(--color-gray-darken3);
	color: var(--color-white-default);
	border: 3px var(--color-transparent-default);
}

/*---------------------------------------------breadcrumbs------------------------------------------*/
.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.breadcrumb-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	cursor: pointer;
	color: var(--color-secondary-default);
	margin: 8px 0px 0px 8px;
}

.breadcrumb-item-underlined {
	text-decoration: underline;
}

.breadcrumb-item-default {
	text-decoration: none;
}

.breadcrumb-item-inactive {
	cursor: default !important;
	color: var(--color-gray-lighten2);
}

.breadcrumb-separator {
	margin: 8px 0px 0px 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	width: 16px;
	height: 14px;
	vertical-align: middle;
}

/*---------------------------------------------btn-navigation------------------------------------------*/
.btn-nav {
	z-index: 1;
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	color: var(--color-secondary-default);
	background-color: var(--color-white-default);
	cursor: pointer;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: list-item;
	border-color: var(--color-secondary-default);
	border-radius: 0px;
	border-width: 1px;
	border-style: solid;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 8px 8px;
	height: 100%;
}

.btn-nav a {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 1;
	color: var(--color-secondary-default);
}

.btn-nav:hover {
	background-color: var(--color-secondary-lighten3);
}

.btn-nav-left-border:first-child {
	border-radius: 2px 0px 0px 3px;
	border-right: none;
}

.btn-nav-right-border:last-child {
	border-radius: 0px 2px 2px 0px;
	border-left: none;
}

.active-tab:focus {
	z-index: 100;
	background-color: var(--color-secondary-default);
	color: var(--color-white-default);
	-webkit-box-shadow: 0px 0px 0px 3px var(--color-secondary-shadow);
	box-shadow: 0px 0px 0px 3px var(--color-secondary-shadow);
}

/*---------------------------------------------buttons------------------------------------------*/
.btn {
	border-style: solid;
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

.btn-primary {
	background-color: var(--color-secondary-default);
	color: var(--color-white-default);
	border: none;
	border-radius: 2px;
}

.btn-primary:hover {
	background-color: var(--color-secondary-darken2);
}

.btn-primary:active {
	background: var(--color-secondary-darken2);
}

.btn-primary:focus {
	-webkit-box-shadow: 0 0 0 3px var(--color-secondary-shadow);
	box-shadow: 0 0 0 3px var(--color-secondary-shadow);
}

.btn-white {
	background-color: var(--color-white-default);
	color: var(--color-secondary-default);
	border: none;
	border-radius: 2px;
}

.btn-white:hover {
	background-color: var(--color-secondary-lighten3);
}

.btn-white:active {
	background: var(--color-secondary-lighten3);
}

.btn-white:focus {
	-webkit-box-shadow: 0 0 0 3px var(--color-secondary-shadow);
	box-shadow: 0 0 0 3px var(--color-secondary-shadow);
}

.btn-outlined {
	background-color: var(--color-transparent);
	color: var(--color-white-default);
	border-color: var(--color-white-default);
	border-width: 1px;
	border-radius: 2px;
}

.btn-outlined:hover {
	background-color: var(--color-secondary-darken2);
}

.btn-outlined:active {
	background: var(--color-secondary-darken2);
}

.btn-outlined:focus {
	-webkit-box-shadow: 0 0 0 3px var(--color-secondary-shadow);
	box-shadow: 0 0 0 3px var(--color-secondary-shadow);
}

.btn-info {
	background-color: var(--color-transparent);
	color: var(--color-white-default);
	border: none;
}

.btn-info:hover {
	background-color: var(--color-secondary-darken2);
}

.btn-info:active {
	background: var(--color-secondary-darken2);
}

.btn-info:focus {
	-webkit-box-shadow: 0 0 0 3px var(--color-secondary-shadow);
	box-shadow: 0 0 0 3px var(--color-secondary-shadow);
}

.btn-image {
	background-color: var(--color-transparent);
	color: var(--color-white-default);
	border: none;
	padding: 12px;
	line-height: 0px;
}

.btn-image:hover {
	background-color: var(--color-secondary-darken2);
}

.btn-image:active {
	background: var(--color-secondary-darken2);
}

.btn-image:focus {
	-webkit-box-shadow: 0 0 0 3px var(--color-secondary-shadow);
	box-shadow: 0 0 0 3px var(--color-secondary-shadow);
}

.btn-clicker {
	background-color: var(--color-white-default);
	color: var(--color-secondary-default);
	border-width: 1px;
	border-color: var(--color-secondary-default);
	border-radius: 2px;
}

.btn-clicker:hover {
	background-color: var(--color-secondary-lighten3);
}

.btn-clicker:active {
	background: var(--color-secondary-lighten3);
}

.btn-clicker:focus {
	-webkit-box-shadow: 0 0 0 3px var(--color-secondary-shadow);
	box-shadow: 0 0 0 3px var(--color-secondary-shadow);
}

.btn-carousel {
	background-color: var(--color-white-default);
	border-radius: 50%;
	padding: 4px;
	line-height: 12px;
	font-size: 16px;
}

.btn-xxl {
	padding: 8px 16px;
	line-height: 40px;
	font-size: 20px;
	font-weight: 500;
}

.btn-xl {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 16px;
	padding-left: 16px;
	line-height: 40px;
	font-size: 20px;
	font-weight: 400;
}

.btn-lg {
	padding: 8px 16px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 300;
}

.btn-md {
	padding: 8px 8px;
	line-height: 24px;
	font-size: 20px;
	font-weight: 500;
}

.btn-sm {
	padding: 8px 8px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
}

.btn-xs {
	padding: 8px 8px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
}

.btn-xxs {
	padding: 8px;
	line-height: 32px;
	font-size: 16px;
	font-weight: 300;
}

.btn-circle {
	border-radius: 50%;
	border: none;
}

.btn-square {
	border-radius: 0px;
}

.btn-rounded-noborder-md {
	border: none;
	border-radius: 2px;
}

.btn-rounded-noborder-lg {
	border: none;
	border-radius: 3px;
}

.btn-rounded-bordered-md {
	border-width: 1px;
	border-radius: 2px;
}

.btn-rounded-bordered-lg {
	border-width: 1px;
	border-radius: 3px;
}

/*---------------------------------------------cards------------------------------------------*/
.card {
	border-radius: 2px;
}

.card-white {
	background-color: var(--color-white-default);
}

.card-warning {
	background-color: var(--color-warning-default);
	border-radius: 3px;
}

/*---------------------------------------------carousel------------------------------------------*/
.carousel {
	margin: 0px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding-left: 0px;
	padding-right: 0px;
	list-style-type: none;
	list-style-image: initial;
	list-style-position: initial;
	position: relative;
}

.carousel-item {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-preferred-size: initial;
	flex-basis: initial;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding-right: 16px;
}

.carousel-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 50%;
	vertical-align: middle;
	right: 16px;
	z-index: 5;
}

/*---------------------------------------------images------------------------------------------*/
img {
	width: auto;
	height: 100%;
	display: block;
}

.img {
	vertical-align: bottom;
	display: inline-block;
	-o-object-fit: fill;
	object-fit: fill;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}

.img-xxl {
	height: 320px;
	border-radius: 3px;
}

.img-xl {
	height: 270px;
	border-radius: 3px;
}

.img-lg {
	height: 240px;
	border-radius: 2px;
}

.img-md {
	height: 200px;
	border-radius: 2px;
}

.img-sm {
	height: 170px;
	border-radius: 2px;
}

.img-xs {
	height: 135px;
	border-radius: 1px;
}

.img-xxs {
	height: 110px;
	border-radius: 1px;
}

.img-hover-border:hover {
	border: 1px solid var(--color-warning-lighten1);
}

.img-hover-text-move p {
	margin: 0;
	padding: 8px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	overflow: hidden;
	height: 24px;
}

.img-hover-text-move:hover > p {
	height: 100%;
}

.img-hover-zoom-default {
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.img-hover-zoom-default:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.img-hover-zoom-bigger {
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.img-hover-zoom-bigger:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.img-hover-zoom-smaller {
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.img-hover-zoom-smaller:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.img-container {
	position: relative;
	color: var(--color-white-default);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.img-text-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px;
}

.img-text-top.overlayhover-default:hover {
	background: linear-gradient(
		rgba(0, 27, 65, 0.85) 0px,
		rgba(0, 27, 65, 0) 100%
	);
}

.img-text-top.overlayhover-darken:hover {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #000),
		color-stop(50%, rgba(0, 0, 0, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		180deg,
		#000 0,
		rgba(0, 0, 0, 0.8) 50%,
		transparent
	);
}

.img-text-top.overlayhover-lighten:hover {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(0, 0, 0, 0.8)),
		color-stop(40%, rgba(33, 33, 33, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.8) 0,
		rgba(33, 33, 33, 0.8) 40%,
		transparent
	);
}

.img-text-top.overlayhover-none:hover {
	background: rgba(0, 0, 0, 0);
}

.img-text-top.overlay-default {
	background: linear-gradient(
		rgba(0, 27, 65, 0.85) 0px,
		rgba(0, 27, 65, 0) 100%
	);
}

.img-text-top.overlay-darken {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #000),
		color-stop(50%, rgba(0, 0, 0, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		180deg,
		#000 0,
		rgba(0, 0, 0, 0.8) 50%,
		transparent
	);
}

.img-text-top.overlay-lighten {
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(0, 0, 0, 0.8)),
		color-stop(40%, rgba(33, 33, 33, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.8) 0,
		rgba(33, 33, 33, 0.8) 40%,
		transparent
	);
}

.img-text-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px;
}

.img-text-bottom.overlayhover-default:hover {
	background: linear-gradient(
		rgba(0, 27, 65, 0) 0px,
		rgba(0, 27, 65, 0.85) 100%
	);
}

.img-text-bottom.overlayhover-darken:hover {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000),
		color-stop(50%, rgba(0, 0, 0, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		0deg,
		#000 0,
		rgba(0, 0, 0, 0.8) 50%,
		transparent
	);
}

.img-text-bottom.overlayhover-lighten:hover {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.8)),
		color-stop(40%, rgba(33, 33, 33, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.8) 0,
		rgba(33, 33, 33, 0.8) 40%,
		transparent
	);
}

.img-text-bottom.overlayhover-none:hover {
	background: rgba(0, 0, 0, 0);
}

.img-text-bottom.overlay-default {
	background: linear-gradient(
		rgba(0, 27, 65, 0) 0px,
		rgba(0, 27, 65, 0.85) 100%
	);
}

.img-text-bottom.overlay-darken {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000),
		color-stop(50%, rgba(0, 0, 0, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		0deg,
		#000 0,
		rgba(0, 0, 0, 0.8) 50%,
		transparent
	);
}

.img-text-bottom.overlay-lighten {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgba(0, 0, 0, 0.8)),
		color-stop(40%, rgba(33, 33, 33, 0.8)),
		to(transparent)
	);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.8) 0,
		rgba(33, 33, 33, 0.8) 40%,
		transparent
	);
}

/*---------------------------------------------inputs------------------------------------------*/
input {
	width: 100%;
}

.input-none:focus,
.input-none:active {
	outline: none;
}

.input-placeholder::-webkit-input-placeholder {
	color: var(--color-black-default);
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
}

.input-placeholder:focus::-webkit-input-placeholder {
	color: var(--color-gray-darken4);
}

.bc-white {
	border-color: var(--color-white-default);
}

.bc-gray {
	border-color: var(--color-gray-darken2);
}

.bc-brown-h:hover {
	border: 1px solid var(--color-brown-default);
}

.bc-secondary-default-f-sm:focus {
	border-color: var(--color-secondary-default);
}

.bc-secondary-default-f-md:focus {
	border-color: var(--color-secondary-default);
	border-width: var(--bw-2);
}

.box-shadow-blue-f:focus {
	-webkit-box-shadow: 0 0 0 3px var(--color-secondary-t2-default);
	box-shadow: 0 0 0 3px var(--color-secondary-t2-default);
}

.box-shadow-white-f:focus {
	-webkit-box-shadow: 0 0 0 1px var(--color-white-default);
	box-shadow: 0 0 0 1px var(--color-white-default);
}

.chbx-lg {
	height: 20px;
	width: 20px;
}

.chbx-md {
	height: 100%;
	width: 100%;
}

.chbx-sm {
	height: 13px;
	width: 13px;
}

.custom-checkbox-lg,
.custom-checkbox-md {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-checkbox-lg + label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
}

.custom-checkbox-md + label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
}

.custom-checkbox-lg + label::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	border: 1px solid var(--color-gray-darken2);
	border-radius: var(--br-4);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
}

.custom-checkbox-md + label::before {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	border: 1px solid var(--color-gray-darken2);
	border-radius: var(--br-4);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	cursor: pointer;
}

.custom-checkbox-md:checked + label::before {
	border-color: #0b76ef;
	background-color: #0b76ef;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox-lg:checked + label::before {
	border-color: #0b76ef;
	background-color: #0b76ef;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox-lg:focus + label::before {
	border: 1px solid var(--color-secondary-default);
	outline: 1px solid var(--color-secondary-default);
	outline-offset: -2px;
}

.custom-checkbox-md:focus + label::before {
	border: 1px solid var(--color-secondary-default);
	outline: 1px solid var(--color-secondary-default);
	outline-offset: -2px;
}

.select_sm {
	width: 48px;
	height: 22px;
}

.select_lg:focus {
	border: 2px solid black;
	border-radius: 3px;
}

.select-appearance {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.radio-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
}

.input-xxxl {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 14px;
	border: 1px solid var(--color-transparent-default);
	border-radius: 2px;
	line-height: 24px;
	padding: 16px 16px 16px 48px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.input-xxxl:hover,
.input-xxxl:focus {
	outline: none;
	border-color: var(--color-brown-lighten1);
}

.input-xxxl::-webkit-input-placeholder {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 14px 100%;
	color: var(--color-gray-darken6);
	opacity: 1;
	font-weight: 700;
}

.fw-normal-place::-webkit-input-placeholder {
	font-weight: 400;
	color: var(--color-gray-lighten1);
}

/* ---------------- */
/* Main page */
.input-xxl {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	border: 1px solid var(--color-transparent-default);
	border-radius: 3px;
	padding: 16px 32px 16px 48px;
	font-weight: 600;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.input-xxl:hover,
.input-xxl:focus {
	outline: none;
	border-color: var(--color-brown-lighten1);
}

.input-xxl::-webkit-input-placeholder {
	color: var(--color-gray-lighten1);
	opacity: 1;
	font-size: 14px;
}

/* ------------------------- */
.input-xl {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding: 8px 32px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
}

.input-xl:hover,
.input-xl:focus {
	outline: none;
}

.input-xl::-webkit-input-placeholder {
	opacity: 1;
	font-weight: 400;
}

.input-paired-lg {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	border: none;
	line-height: 24px;
	padding: 12px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.border-input-white {
	border-color: var(--color-white-default);
	border-width: 1px;
	border-radius: 1px;
}

/* Availability */
.date-checker {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	border: 1px solid var(--color-gray-default);
	border-radius: 3px;
	padding: 8px;
	line-height: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Airoport taxis search inputs */
.input-location-icon {
	background-image: url(../../../images/ico/pin.svg);
	background-position: top 50% left 16px;
	background-repeat: no-repeat;
}

.input-datepicker-icon {
	background-image: url(../../../images/ico/calendar3.svg);
	background-position: top 50% left 16px;
	background-repeat: no-repeat;
}

.input-clock-icon {
	background-image: url(../../../images/ico/clock.svg);
	background-position: top 50% left 16px;
	background-repeat: no-repeat;
}

.input-user-xxxl {
	background-image: url(../../../images/ico/user-xxxl.svg),
		url(../../../images/ico/arrows.svg);
	background-position: top 50% left 16px, top 50% right 16px;
	background-repeat: no-repeat;
}

.input-flight-icon-xxxl {
	background-image: url(../../../images/ico/flight-xxxl.svg);
	background-position: top 50% left 10px;
	background-repeat: no-repeat;
}

.input-calendar-xxxl {
	background-image: url(../../../images/ico/calendar-empty-xxxl.svg);
	background-position: top 50% left 10px;
	background-repeat: no-repeat;
}

.input-calendar-empty-xxl {
	background-image: url(../../../images/ico/calendar-empty-xxl.svg),
		url(../../../images/ico/arrow-down.svg);
	background-position: top 50% left 5px, top 50% right 10px;
	background-repeat: no-repeat;
}

.input-img-search-xxxl {
	background-image: url(../../../images/ico/search-xxxl.svg);
	background-position: top 50% left 10px;
	background-repeat: no-repeat;
}

.input-img-bed-xxl {
	background-image: url(../../../images/ico/bad.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 16px;
}

.input-img-search-xxl {
	background-image: url(../../../images/ico/search-xxl.svg),
		url(../../../images/ico/arrow-down.svg);
	background-position: top 50% left 5px, top 50% right 10px;
	background-repeat: no-repeat;
}

.input-car-xxl {
	background-image: url(../../../images/ico/car-xxl.svg);
	background-position: top 50% left 16px;
	background-repeat: no-repeat;
}

.input-user-xxl {
	background-image: url(../../../images/ico/user-xxl.svg),
		url(../../../images/ico/arrows.svg);
	background-position: top 50% left 16px, top 50% right 16px;
	background-repeat: no-repeat;
}

.input-calendar-2 {
	background-image: url(../../../images/ico/calendar2.svg);
	background-position: top 50% left 16px;
	background-repeat: no-repeat;
}

.input-img-car {
	background-image: url(../../../images/ico/car1-xxl.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 13px;
}

.select-img-arrow {
	background-image: url(../../../images/ico/arrowdouble.svg);
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	background-position: right;
}

.search-input:hover,
.search-input:focus {
	outline: none;
	border-color: var(--color-brown-lighten1);
}

.color-secondary-default-hov:hover {
	color: var(--color-secondary-default);
}

.flex-grow1 {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.bc-secondary-default-hov:hover {
	border-color: var(--color-secondary-default);
}

.bc-secondary-default-hov:hover .color-secondary-default-hov {
	color: var(--color-secondary-default);
}

/*---------------------------------------------links------------------------------------------*/
.link {
	text-decoration: none;
	color: var(--color-secondary-default);
}

.link-xs {
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
}

.link-sm {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.link-md {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}

.link-xl {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.link-white {
	color: var(--color-white-default);
}

.link-bold {
	font-weight: 700;
}

.link-normal {
	font-weight: 400;
}

.link-yellow-hover:hover {
	color: var(--color-warning-default);
}

.link-black-hover:hover {
	color: var(--color-black-default);
}

.link-white-hover:hover {
	color: var(--color-white-default);
}

.link-underline {
	text-decoration: underline;
}

.link-underline-hover:hover {
	text-decoration: underline;
}

.link-gray-visited:visited {
	color: var(--color-gray-lighten1);
}

/*---------------------------------------------pagination------------------------------------------*/
.page-btn {
	background-color: var(--color-gray-lighten3);
	border: none;
	cursor: pointer;
	line-height: 20px;
	font-size: 12px;
	padding: 0 8px 0 8px;
	color: var(--color-white-default);
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
}

.page-btn:hover {
	background-color: var(--color-secondary-default);
}

.page-btn-active {
	background-color: var(--color-secondary-default);
}

.other-page {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 20px;
	font-size: 14px;
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	color: var(--color-secondary-default);
	font-weight: 400;
}

.other-page:hover {
	color: var(--color-brown-default);
}

/*---------------------------------------------tabs------------------------------------------*/
.tab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid var(--color-secondary-default);
}

.tab-btn {
	border: none;
	background-color: var(--color-transparent-default);
	font-size: 14px;
	padding: 12px;
}

.tab-btn:hover {
	color: var(--color-secondary-default);
}

.tab-btn:focus {
	color: var(--color-white-default);
	background-color: var(--color-secondary-default);
}

.tab-atraction {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid;
}

.tab-btn-atraction {
	border: none;
	background-color: var(--color-transparent-default);
	font-size: 14px;
	padding: 12px;
}

.tab-btn-atraction:hover {
	background-color: var(--color-gray-lighten8);
}

.tab-btn-atraction:focus {
	color: var(--color-secondary-default);
	border-bottom: 2px solid var(--color-secondary-default);
}

/*---------------------------------------------typography------------------------------------------*/
.h1 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 32px;
	line-height: 40px;
}

.h1-black-bold {
	font-weight: 700;
}

.h1-black-semi-bold {
	font-weight: 600;
}

.h1-white-bold {
	font-weight: 700;
}

.h1-white-semi-bold {
	font-weight: 600;
}

.h1-primary {
	color: var(--color-primary-default);
}

.h1-primary-bold {
	font-weight: 700;
}

.h1-primary-semi-bold {
	font-weight: 600;
}

.h1-secondary {
	color: var(--color-secondary-default);
}

.h1-secondary-bold {
	font-weight: 700;
}

.h1-secondary-semi-bold {
	font-weight: 600;
}

.h2 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 28px;
	line-height: 32px;
}

.h2-black-bold {
	font-weight: 700;
}

.h2-black-semi-bold {
	font-weight: 600;
}

.h2-white-bold {
	font-weight: 700;
}

.h2-white-semi-bold {
	font-weight: 600;
}

.h2-primary {
	color: var(--color-primary-default);
}

.h2-primary-bold {
	font-weight: 700;
}

.h2-primary-semi-bold {
	font-weight: 600;
}

.h2-secondary {
	color: var(--color-secondary-default);
}

.h2-secondary-bold {
	font-weight: 700;
}

.h2-secondary-semi-bold {
	font-weight: 600;
}

.h3 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 26px;
	line-height: 30px;
}

.h3-black-bold {
	font-weight: 700;
}

.h3-black-semi-bold {
	font-weight: 600;
}

.h3-white-bold {
	font-weight: 700;
}

.h3-white-semi-bold {
	font-weight: 600;
}

.h3-primary {
	color: var(--color-primary-default);
}

.h3-primary-bold {
	font-weight: 700;
}

.h3-primary-semi-bold {
	font-weight: 600;
}

.h3-secondary {
	color: var(--color-secondary-default);
}

.h3-secondary-bold {
	font-weight: 700;
}

.h3-secondary-semi-bold {
	font-weight: 600;
}

.h4 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
}

.h4-black-bold {
	font-weight: 700;
}

.h4-black-semi-bold {
	font-weight: 600;
}

.h4-white-bold {
	font-weight: 700;
}

.h4-white-semi-bold {
	font-weight: 600;
}

.h4-primary {
	color: var(--color-primary-default);
}

.h4-primary-bold {
	font-weight: 700;
}

.h4-primary-semi-bold {
	font-weight: 600;
}

.h4-secondary {
	color: var(--color-secondary-default);
}

.h4-secondary-bold {
	font-weight: 700;
}

.h4-secondary-semi-bold {
	font-weight: 600;
}

.h5 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 22px;
	line-height: 26px;
}

.h5-black-bold {
	font-weight: 700;
}

.h5-black-semi-bold {
	font-weight: 600;
}

.h5-white-bold {
	font-weight: 700;
}

.h5-white-semi-bold {
	font-weight: 600;
}

.h5-primary {
	color: var(--color-primary-default);
}

.h5-primary-bold {
	font-weight: 700;
}

.h5-primary-semi-bold {
	font-weight: 600;
}

.h5-secondary {
	color: var(--color-secondary-default);
}

.h5-secondary-bold {
	font-weight: 700;
}

.h5-secondary-semi-bold {
	font-weight: 600;
}

.h6 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 20px;
	line-height: 24px;
}

.h6-black-bold {
	font-weight: 700;
}

.h6-black-semi-bold {
	font-weight: 600;
}

.h6-white-bold {
	font-weight: 700;
}

.h6-white-semi-bold {
	font-weight: 600;
}

.h6-primary {
	color: var(--color-primary-default);
}

.h6-primary-bold {
	font-weight: 700;
}

.h6-primary-semi-bold {
	font-weight: 600;
}

.h6-secondary {
	color: var(--color-secondary-default);
}

.h6-secondary-bold {
	font-weight: 700;
}

.h6-secondary-semi-bold {
	font-weight: 600;
}

.subtitle1 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
}

.subtitle1-black-bold {
	font-weight: 700;
}

.subtitle1-black-semi-bold {
	font-weight: 600;
}

.subtitle1-black-medium {
	font-weight: 500;
}

.subtitle1-black-normal {
	font-weight: 400;
}

.subtitle1-black-light {
	font-weight: 300;
}

.subtitle1-white-bold {
	font-weight: 700;
}

.subtitle1-white-semi-bold {
	font-weight: 600;
}

.subtitle1-white-medium {
	font-weight: 500;
}

.subtitle1-white-normal {
	font-weight: 400;
}

.subtitle1-white-light {
	font-weight: 300;
}

.subtitle1-primary {
	color: var(--color-primary-default);
}

.subtitle1-primary-bold {
	font-weight: 700;
}

.subtitle1-primary-semi-bold {
	font-weight: 600;
}

.subtitle1-primary-medium {
	font-weight: 500;
}

.subtitle1-primary-normal {
	font-weight: 400;
}

.subtitle1-primary-light {
	font-weight: 300;
}

.subtitle1-secondary {
	color: var(--color-secondary-default);
}

.subtitle1-secondary-bold {
	font-weight: 700;
}

.subtitle1-secondary-semi-bold {
	font-weight: 600;
}

.subtitle1-secondary-medium {
	font-weight: 500;
}

.subtitle1-secondary-normal {
	font-weight: 400;
}

.subtitle1-secondary-light {
	font-weight: 300;
}

.subtitle2 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.subtitle2-black-bold {
	font-weight: 700;
}

.subtitle2-black-semi-bold {
	font-weight: 600;
}

.subtitle2-black-medium {
	font-weight: 500;
}

.subtitle2-black-normal {
	font-weight: 400;
}

.subtitle2-black-light {
	font-weight: 300;
}

.subtitle2-white-bold {
	font-weight: 700;
}

.subtitle2-white-semi-bold {
	font-weight: 600;
}

.subtitle2-white-medium {
	font-weight: 500;
}

.subtitle2-white-normal {
	font-weight: 400;
}

.subtitle2-white-light {
	font-weight: 300;
}

.subtitle2-primary {
	color: var(--color-primary-default);
}

.subtitle2-primary-bold {
	font-weight: 700;
}

.subtitle2-primary-semi-bold {
	font-weight: 600;
}

.subtitle2-primary-medium {
	font-weight: 500;
}

.subtitle2-primary-normal {
	font-weight: 400;
}

.subtitle2-primary-light {
	font-weight: 300;
}

.subtitle2-secondary {
	color: var(--color-secondary-default);
}

.subtitle2-secondary-bold {
	font-weight: 700;
}

.subtitle2-secondary-semi-bold {
	font-weight: 600;
}

.subtitle2-secondary-medium {
	font-weight: 500;
}

.subtitle2-secondary-normal {
	font-weight: 400;
}

.subtitle2-secondary-light {
	font-weight: 300;
}

.body1 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
}

.body1-black-bold {
	font-weight: 700;
}

.body1-black-semi-bold {
	font-weight: 600;
}

.body1-black-medium {
	font-weight: 500;
}

.body1-black-normal {
	font-weight: 400;
}

.body1-black-light {
	font-weight: 300;
}

.body1-white-bold {
	font-weight: 700;
}

.body1-white-semi-bold {
	font-weight: 600;
}

.body1-white-medium {
	font-weight: 500;
}

.body1-white-normal {
	font-weight: 400;
}

.body1-white-light {
	font-weight: 300;
}

.body1-primary {
	color: var(--color-primary-default);
}

.body1-primary-bold {
	font-weight: 700;
}

.body1-primary-semi-bold {
	font-weight: 600;
}

.body1-primary-medium {
	font-weight: 500;
}

.body1-primary-normal {
	font-weight: 400;
}

.body1-primary-light {
	font-weight: 300;
}

.body1-secondary {
	color: var(--color-secondary-default);
}

.body1-secondary-bold {
	font-weight: 700;
}

.body1-secondary-semi-bold {
	font-weight: 600;
}

.body1-secondary-medium {
	font-weight: 500;
}

.body1-secondary-normal {
	font-weight: 400;
}

.body1-secondary-light {
	font-weight: 300;
}

.body2 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 12px;
	line-height: 14px;
}

.body2-black-bold {
	font-weight: 700;
}

.body2-black-semi-bold {
	font-weight: 600;
}

.body2-black-medium {
	font-weight: 500;
}

.body2-black-normal {
	font-weight: 400;
}

.body2-black-light {
	font-weight: 300;
}

.body2-white-bold {
	font-weight: 700;
}

.body2-white-semi-bold {
	font-weight: 600;
}

.body2-white-medium {
	font-weight: 500;
}

.body2-white-normal {
	font-weight: 400;
}

.body2-white-light {
	font-weight: 300;
}

.body2-primary {
	color: var(--color-primary-default);
}

.body2-primary-bold {
	font-weight: 700;
}

.body2-primary-semi-bold {
	font-weight: 600;
}

.body2-primary-medium {
	font-weight: 500;
}

.body2-primary-normal {
	font-weight: 400;
}

.body2-primary-light {
	font-weight: 300;
}

.body2-secondary {
	color: var(--color-secondary-default);
}

.body2-secondary-bold {
	font-weight: 700;
}

.body2-secondary-semi-bold {
	font-weight: 600;
}

.body2-secondary-medium {
	font-weight: 500;
}

.body2-secondary-normal {
	font-weight: 400;
}

.body2-secondary-light {
	font-weight: 300;
}

.caption {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica,
		Arial, sans-serif;
	font-size: 12px;
	line-height: 14px;
}

.caption-black-bold {
	font-weight: 700;
}

.caption-black-semi-bold {
	font-weight: 600;
}

.caption-black-medium {
	font-weight: 500;
}

.caption-black-normal {
	font-weight: 400;
}

.caption-black-light {
	font-weight: 300;
}

.caption-white-bold {
	font-weight: 700;
}

.caption-white-semi-bold {
	font-weight: 600;
}

.caption-white-medium {
	font-weight: 500;
}

.caption-white-normal {
	font-weight: 400;
}

.caption-white-light {
	font-weight: 300;
}

.caption-primary {
	color: var(--color-primary-default);
}

.caption-primary-bold {
	font-weight: 700;
}

.caption-primary-semi-bold {
	font-weight: 600;
}

.caption-primary-medium {
	font-weight: 500;
}

.caption-primary-normal {
	font-weight: 400;
}

.caption-primary-light {
	font-weight: 300;
}

.caption-secondary {
	color: var(--color-secondary-default);
}

.caption-secondary-bold {
	font-weight: 700;
}

.caption-secondary-semi-bold {
	font-weight: 600;
}

.caption-secondary-medium {
	font-weight: 500;
}

.caption-secondary-normal {
	font-weight: 400;
}

.caption-secondary-light {
	font-weight: 300;
}

.caption-grey-bold {
	font-weight: 700;
}

.caption-grey-semi-bold {
	font-weight: 600;
}

.caption-grey-medium {
	font-weight: 500;
}

.caption-grey-normal {
	font-weight: 400;
}

.caption-grey-light {
	font-weight: 300;
}
