@import "../../../styles/index.scss";

.card {
    border-radius: map-get($border-radius, br-2);

    &-white {
        background-color: var(--color-white-default);
    }

    &-warning {
        background-color: var(--color-warning-default);
        border-radius: map-get($border-radius, br-3);
    }
}