@import url(../../config/index.scss);



.link{
    text-decoration: none;
        
        &-xs{
           // font-size: map-get($font-size, body2); 
            line-height: map-get($line-height, body2 );
            font-weight: map-get($font-weight, normal );
        }
        &-sm{
            font-size: map-get($font-size, body1); // 14px
            line-height: map-get($line-height body1);
            font-weight: map-get($font-weight, normal );
        }
        &-md{
            font-size: map-get($font-size, subtitle2); // 16px
            line-height: map-get($line-height, subtitle2);
            font-weight: map-get($font-weight, normal );
        }
        &-xl{
            font-size: map-get($font-size, h6); // 20px
            line-height: map-get($line-height , h6 );
            font-weight: map-get($font-weight, normal );
        }

   &-primary{
       color:var(--color-secondary-default) ;
   }
   &-white{
       color:var(--color-white-default) ;
   }
   &-bold{
       font-weight: map-get($font-weight, bold ) ;
   }
   &-normal{
    font-weight: map-get($font-weight, normal ) ;
   }
  
   &-yellow-hower:hover{
       color: var(--color-warning-default)
   }
   &-black-hower:hover{
       color: var(--color-gray-default);
   }

   &-underline{
       text-decoration: underline;
       &-hower:hover{
        text-decoration: underline;
       }
   }
};


