@import "../colors/colors.scss";

$border-color: (
  transparent: var(--color-transparent-default),
  black: var(--color-black-default),
  white: var(--color-white-default),
  primary: var(--color-primary-default),
  secondary: var(--color-secondary-default),
  warning: var(--color-warning-default),
  warning-lighten1: var(--color-warning-lighten1),
  success: var(--color-success-default),
  gray: var(--color-gray-default),
  gray-lighten1: var(--color-gray-lighten1),
  gray-lighten8: var(--color-gray-lighten8),
);
