.container-xl {
  max-width: 1140px !important;
}

.rows-wrapper {
  flex-wrap: nowrap !important;
}

.container-md {
  margin: 0 auto;
  max-width: 1140px;
}

.card-warning {
  padding: 16px;
}

.select-appearance {
  width: 100%;
}

.work-checkbox {
  max-width: 13px;
}

.btn-xxl {
  width: 100%;
}

.show-on-map-image {
  width: 162px;
  height: 72px;
}

.btn-nav {
  list-style: none;
}

.col-3 img {
  max-width: 200px;
  max-height: 200px;
}

.item-header svg {
  fill: var(--color-warning-default);
}

.search-item {
  border: 1px solid var(--color-gray-lighten5);
}

.badge-review-md {
  min-height: 32px;
  min-width: 32px;
}

.show-prices-button button {
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .item-image {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .side-bar {
    display: none !important;
  }
  .item-part {
    display: block !important;
    max-width: 100% !important;
  }
  .col-9 {
    width: 100%;
  }
}
